{% extends 'images/base.html' %}

{% block title %}Homepage{% endblock title%}
{% block content %}
    <h1>Dobrodošli na moj imgur</h1>
    <h2>Broj slika: {{ count }}</h2>
    <h2><a href="/images">Vidi sve slike</a></h2>

{% endblock content %}