{% extends 'images/base.html' %}

{% block title %}Slike{% endblock title %}

{% block content %}
    <h1>Ovo je popis svih slika</h1>
    {% for image in images %}
        <div>
            <h3><a href="/images/{{ image.id }}/">{{ image.title }}</a></h3>
            
            <img src="{{ image.url }}" style="width:300px; height: auto ;">
            <p><strong>{{ image.created_at }}</strong> {{ image.desc }}</p>
        </div>


    {% endfor %}
{% endblock content %}